@model IEnumerable<PPCRental_Project.Models.PROPERTY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        
                        <th>PropertyName</th>
                        <th>Avatar</th>
                        <th>Area</th>
                        <th>BedRoom</th>
                        <th>BathRoom</th>
                        <th>PackingPlace</th>
                        <th>DistrictName</th>
                        <th>StreetName</th>
                        <th>WardName</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        
                        <th>PropertyName</th>
                        <th>Avatar</th>
                        <th>Area</th>
                        <th>BedRoom</th>
                        <th>BathRoom</th>
                        <th>PackingPlace</th>
                        <th>DistrictName</th>
                        <th>StreetName</th>
                        <th>WardName</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.PropertyName)
                            </td>
                            <td>
                                <img src="~/Images/@item.Avatar" width="100px"/>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Area)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BedRoom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BathRoom)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PackingPlace)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DISTRICT.DistrictName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.STREET.StreetName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WARD.WardName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                                @Html.ActionLink("Details", "Details", new { id = item.ID })
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                      </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
       