@model PPCRental_Project.Models.PROPERTY_FEATURE

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
}

<h2>Create</h2>


    @using (Html.BeginForm("Create", "PropertyAgency", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>PROPERTY</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.PropertyName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROPERTY.PropertyName, new { @class = "form-control", placeholder = "Property Name", required = "required" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.PropertyName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.Avatar, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                 
                    <div style="margin-left: 50px;">
                        <input type="file" name="ImageFile" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.Images, new { @class = "control-label col-md-4" })
                <div class="col-md-4">
                    <label class="control-label">Select File</label>
                    <input name="ImageFile2" type="file" multiple>
                    
                    @Html.ValidationMessageFor(model => model.PROPERTY.Images)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.PropertyType_ID, "PropertyType_ID", new { @class = "control-label col-md-4" })
                <div class="col-md-4 input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon glyphicon-info-sign"></i></span>
                    @Html.DropDownList("PropertyType_ID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.PropertyType_ID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.PROPERTY.Content, new { @class = "form-control", placeholder = "Your Description", required = "required", rows = "10" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.Content)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.Street_ID, "Street", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Street_ID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.Street_ID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.Ward_ID, "Ward_ID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Ward_ID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.Ward_ID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.District_ID, "District", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                   @Html.DropDownList("District_ID", null, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.District_ID)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROPERTY.Price, new { @class = "form-control", placeholder = "Prices", required = "required" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.Price)
                     VND
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROPERTY.Area, new { @class = "form-control", placeholder = "Area", required = "required" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.Area)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.BedRoom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROPERTY.BedRoom, new { @class = "form-control", placeholder = "Number Bedroom", required = "required" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.BedRoom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.BathRoom, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROPERTY.BathRoom, new { @class = "form-control", placeholder = "Number Bathroom", required = "required" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.BathRoom)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PROPERTY.PackingPlace, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.PROPERTY.PackingPlace, new { @class = "form-control", placeholder = "Number ParkingPlace", required = "required" })
                    @Html.ValidationMessageFor(model => model.PROPERTY.PackingPlace)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FEATURE.ID, "Feature", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.ListBox("Feature_ID", (SelectList)ViewBag.Feature_ID, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FEATURE.ID)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="submit" value="Draf" class="btn btn-default" />
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" name="submit" value="Create" class="btn btn-default" />
                </div>
            </div>

        </div>
        
        
        

    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>



@section Srcipts{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


    <script>
        $('#Ward_ID').select2();
        $('#District_ID').select2({ dropdownAutoWidth: true });
        $('#Street_ID').select2();
        $('#District_ID').on('change', function () {
            $('#Street_ID').empty();
            $('#Ward_ID').empty();
            $.getJSON('/Project/GetStreet?District_id=' + $('#District_ID').val(),
                function (json) {
                    $('#Street_ID').select2({ data: json }).val();

                });
            $.getJSON('/Project/GetWard?District_id=' + $('#District_ID').val(),
                function (json) {
                    $('#Ward_ID').select2({ data: json }).val();
                });
        });
    </script>
}
