@model IEnumerable<PPCRental_Project.Models.PROPERTY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PropertyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BathRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PackingPlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DISTRICT.DistrictName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WARD.WardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.STREET.StreetName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PROJECT_STATUS.Status_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PROPERTY_TYPE.CodeType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyName)
        </td>
        <td>
            <img class="img-rounded img-responsive display-img" src="@Url.Content(item.Avatar)" alt="@item.PropertyName">
        </td>
        <td>
            @if (item.Content.Length < 50) 
            {
                ViewBag.content = item.Content;
            }
            else 
            {
                ViewBag.content = item.Content.Substring(0, 50) + "...";
                
            }
            @ViewBag.content
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BedRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BathRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PackingPlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DISTRICT.DistrictName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WARD.WardName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.STREET.StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROJECT_STATUS.Status_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PROPERTY_TYPE.CodeType)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
